.vertical-timeline::before {
    background: transparent;
}

.vertical-timeline-element:not(:last-child)::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 18px;
    height: calc(100%);
    width: 4px;
    background: white;
}


@media only screen and (min-width: 1170px) {
.vertical-timeline.vertical-timeline--two-columns .vertical-timeline-element:not(:last-child)::before {
    left: 50%;
    top: 60px;
    margin-left: -2px;
}
}